.card {
  background-color: #b4846c;
  border: none;
  height: 390px;
  border: 1px solid #665a48ae;
  /* -webkit-box-shadow: 7px 7px 20px -2px rgba(0, 0, 0, 0.54);

  -moz-box-shadow: 7px 7px 20px -2px rgba(0, 0, 0, 0.54);
  box-shadow: 7px 7px 20px -2px rgba(0, 0, 0, 0.54); */

  -webkit-box-shadow: 7px 5px 20px -6px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 7px 5px 20px -6px rgba(0, 0, 0, 0.44);
  box-shadow: 7px 5px 20px -6px rgba(0, 0, 0, 0.44);
}

.card-img-top {
  width: 18rem;
  height: 11rem;
}
